{% load users.my_tags %}

<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark mt-4" style="width: 280px;">
    <h2 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Frequent cities</span>
    </h2>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {% for fr in freq_requests %}
        <li>
            <a href="{% url 'forecast:index' %}?city={{fr.city}}">{{ fr.city }}</a>: {{ fr.count }}
        </li>
        {% endfor %}
    </ul>
    <h2 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        {% if user.is_authenticated %}
        <span class="fs-4">My latests cities</span>
    </h2>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {% for ur in user_requests %}
        <li>
            <a href="{% url 'forecast:index' %}?city={{ur.city}}">{{ ur.city }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
